---
import "../styles/global.css";

type Props = {
  tabTitle: string;
  pageTitle: string;
  pageSubtitle: string;
};

const { tabTitle, pageTitle, pageSubtitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tabTitle}</title>
  </head>

  <body>
    <div class="container mx-auto">
      <div class="mb-3 mt-2">
        <h1 class="font-big-title text-6xl text-left">
          {pageTitle}
        </h1>
        <h3 class="text-lg ml-10">{pageSubtitle}</h3>
      </div>

      <slot />
    </div>
  </body>
</html>
